<% @items.each do |item| %>
  <p><b>Item #<%= item['id'] %>: </b><%= link_to item['title'], item_path(id: item['id']) %> <%= link_to 'Edit', edit_item_path(id: item['id']) %></p>
  <p><%= item['description'] %></p>
  <p><%= item['imageUrl'] %></p>
  <br/>
<% end %>
